<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная страница</title>
</head>
<body>
    <h1><font size="11" color="#8b0000" face="serif">warhammer 40'000</font></h1>
    <p><font  color="#00bfff">Пользователь: {{.Name}}</font></p>
    <p><font color="#00bfff">Возраст {{.Age}} лет</font> </p>
</body>
</html>
